/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
.gamepad-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8337 10.2499L15.5646 14.1769C15.8787 14.5075 16.2917 14.7273 16.7414 14.8034C17.1911 14.8794 17.6533 14.8075 18.0587 14.5986C18.4641 14.3896 18.7909 14.0548 18.9899 13.6445C19.1889 13.2341 19.2494 12.7702 19.1625 12.3225L17.6958 4.7765M6.33372 4.74992V6.58325M5.41705 5.66658H7.25039M11.8337 5.66658H13.6671M13.2087 1.08325C14.4243 1.08325 15.5901 1.56614 16.4496 2.42568C17.3092 3.28522 17.792 4.45101 17.792 5.66658C17.792 6.88216 17.3092 8.04795 16.4496 8.90749C15.5901 9.76703 14.4243 10.2499 13.2087 10.2499H8.16705L4.48663 14.1247C4.17181 14.4561 3.75779 14.6763 3.30696 14.752C2.85613 14.8276 2.39291 14.7547 1.98712 14.5442C1.58133 14.3337 1.25495 13.997 1.05716 13.5849C0.859377 13.1728 0.800902 12.7075 0.89055 12.2593L2.38838 4.76733C2.59629 3.72826 3.15782 2.79332 3.97742 2.12163C4.79702 1.44994 5.82404 1.083 6.88372 1.08325H13.2087Z' stroke='white' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 19px;
  height: 13px;
}
.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
